apiVersion: 1

datasources:
  - name: "{{ monitoring_grafana_loki_datasource_name }}"
    uid: loki
    type: loki
    access: proxy
    url: "{{ monitoring_grafana_loki_datasource_url }}"
    editable: true
    isDefault: false

  - name: "{{ monitoring_grafana_prometheus_datasource_name }}"
    uid: prometheus
    type: prometheus
    access: proxy
    url: "{{ monitoring_grafana_prometheus_datasource_url }}"
    editable: true
    isDefault: true
