version: "{{ docker_compose_version }}"

services:
  {{ app_name }}:
    image: "{{ docker_image }}:{{ docker_tag }}"
    container_name: "{{ app_name }}"
    ports:
      - "{{ app_port }}:{{ app_internal_port }}"
    environment:
      PORT: "{{ app_internal_port }}"
      APP_ENV: "{{ app_env_name }}"
      APP_SECRET_KEY: "{{ app_secret_key }}"
{% for env_key, env_value in app_env | dictsort %}
      {{ env_key }}: "{{ env_value }}"
{% endfor %}
    restart: unless-stopped
    networks:
      - {{ app_name }}_net

networks:
  {{ app_name }}_net:
    driver: bridge
